# Template configuration
# For production use: cp config.template config

#Batctl command. Executed by www-data
batctl_command			'sudo batctl'

#Reload all fastd-keys 				
fastd_reload_command 	'sudo killall -1 fastd' 	

